body{
    background-color: #517244;
}

#root{
    display: flex;
    flex-direction: column;
    width: fit-content;
    margin: auto;
}

.Squarerow{
    
    /* background-color: red; */
    display: flex;

}

.white{
    background-color:#C6A26A ;
}

.black{
    background-color: #8C623E;
}

.square{
    width: 75px;
    height: 74px;
}

.piece{
    width: 100%;
    cursor: grab;
}

.highlight{
    background-color:rgba(0, 0, 0, 0.15);
    display: block;
    width: 35px;
    height: 35px;
    margin: auto;
    margin-top: 17px;
    border-radius: 50%;

}

.highlightYellow{
    background-color: #f7f769;
}

.capturecolor{
    background-color: #ee4b2b;
}

.check{
    background-color: green;
}